.frame {
  background-color: beige;
  width: 225px;
  height: 200px;
  border: 5px;
}

.textField {
  margin: 10px;
  font-size: 16px;
  background-color: rgba(156, 252, 252, 0.989);
  border-radius: 10px;
}

#result {
  background-color: aquamarine;
  width: 200px;
  height: 24px;
  border-radius: 10px;
  border-color: blue;
  margin: 8px;
  border: 2px;
  text-align: center;
}

#cal {
  background-color: white;
  color: black;
  width: 200px;
  margin: 8px;
  border-radius: 10px;
  height: 25px;
}
