.body {
  border: 0;
}

.container {
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-description {
  background-color: black;
  opacity: 85%;
  color: #fff;
  /* margin: 0px 25px; */
  padding: 0px 10px;
  border: 2px solid #cb1212;
  /* width: 300px; */
}
.menu-description h2 {
  font-size: 1.2em;
  font-weight: bold;
}
